
<html lang="en">
<head>
    <title>Formulaire</title>
    {% block stylesheets %}
        <link href="{{ asset('style.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
{{ form(formStudent) }}

</body>
</html>